.main{

  color: brown;
  background-color:   #292C30;
  min-height: calc(100vh - 40px);

  NavLink{
    text-decoration: none;
  }
  h1{

  }
}
.beersList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-left: 50px;
  margin-right: 50px;

}
