.formik{
  padding-top: 20px;
  input{
    width: 350px;
    height: 25px;
    background-color: #4B88A2;
    border: none;
    box-shadow: 8px 8px 4px rgba(0, 0,0, 0.5);
    border-radius: 2px;
    color: #EBFCFB;
  }
  button{
    height: 25px;
    background-color: #4B88A2;
    margin-left: 15px;
    border-radius: 3px;
    box-shadow: 5px 4px 4px rgba(0, 0,0, 0.5);
    border: none;
    color: #EBFCFB;
  }
  button::after{
    transform: translateY(-2px);
    color: aliceblue;
    background-color: #cc5814;
  }
  button:hover{

  }
}
